<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>电影信息</title>
  <!-- bootstrap样式 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <form action="/userinfo" method="get" style="font-size:20px">
    <div class="container">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><input class="btn btn-link" type="submit" name="submit" value="电影首页"></li>
              <li class="breadcrumb-item active" aria-current="page">电影信息</li>
          </ol>
      </nav>
        <div class="w-100"></div>
        <div class="col">
          <%for(i in message){%>
          <div class="card flex-md-row ">
            <img src="<%= message[i].apicture %>"  class="rounded" width="400" height="500">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark" href="#"><%= message[i].aname %></a>
              </h3>
              <div class="mb-1 text-muted"><%= message[i].atime %></div>
              <p class="card-text mb-auto">导演：<%= message[i].adirector %><br>演员：<%= message[i].aactor %><br>剧情介绍：<%= message[i].astory %></p>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
  </form>
</body>

</html>